extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      if error
        .alert.alert-danger #{error}
      if success
        .alert.alert-success #{success}
      form.form.form--resetPassword#resetPasswordForm
        input(type="hidden", name="token", value=token)
        .form__group.ma-bt-md
          label.form__label(for="password") New Password
          input.form__input#password(type="password", name="password", placeholder="••••••••", required, minlength="8")
        .form__group.ma-bt-md
          label.form__label(for="confirmPassword") Confirm New Password
          input.form__input#confirmPassword(type="password", name="confirmPassword", placeholder="••••••••", required, minlength="8")
        .form__group
            button.btn.btn--green.btn--new-pass(type='submit', data-token=`${token ? token : ''}`) Reset Password
          
